<app-header></app-header>

<section>
    <div class="row">

        <div class="left list">
            <ul>
                <li>personagem 1</li>
                <li>personagem 2</li>
                <li>personagem 3</li>
                <li>personagem 4</li>
            </ul>
        </div>

        <div routerLink="/criar-personagem" class="right">
            <div class="new column">
                <i>+</i>
                <h2 >Novo Personagem</h2>
            </div>
        </div>

    </div>

</section>

<app-footer></app-footer>