<app-header></app-header>
<section class="background-section">
    <div class="parallax-container">
        <div class="light-point light-1"></div>
        <div class="light-point light-2"></div>
        <div class="light-point light-3"></div>
        <div class="light-point light-4"></div>
        <div class="light-point light-5"></div>
        <div class="light-point light-6"></div>
        <div class="light-point light-7"></div>
        <div class="light-point light-8"></div>
        
        <div class="perfil-container">
            <h2>Meu Perfil</h2>
            <div class="perfil-info">
                <p><strong>Nome:</strong> {{ userName }}</p>
                <p><strong>E-mail:</strong> {{ userEmail }}</p>
            </div>

            <div class="alert" [ngClass]="{'alerta-verificacao': !emailVerified}">
                <p>{{ verificationMessage }}</p>
            </div>

            <div *ngIf="!emailVerified" class="alert alerta-verificacao">
                <button (click)="reenviarEmailVerificacao()" class="btn-reenviar">Reenviar E-mail de Verificação</button>
            </div>

            <button (click)="logout()">Sair</button>
        </div>
    </div>
</section>
<app-footer></app-footer> 