<nav class="row">
    <input type="checkbox" id="check">
    <label for="check" class="menu-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </label>
    <ul class="row">
        <li class="link" routerLink="/home">Home</li>
        <li class="link" routerLink="/classes">Classes</li>
        <li class="link" routerLink="/racas">Raças</li>
        <li class="link" routerLink="/magias">Magias</li>
        <li class="link" routerLink="/equipments">Equipamentos</li>
        <li class="link" routerLink="/rules">Regras</li>
        <li class="link"  routerLink="/login">Entre</li>
    </ul>

    <!-- <ul class="row">
        <li class="link">Entre</li>
        <li class="link">Cadastre</li>
    </ul> -->
</nav>