nav{
    justify-content: space-around;
    height: 60px;
    width: 100%;
    z-index: 5;
    position: fixed;
    background: rgb(41, 33, 33); 
    box-shadow: 2px 2px 5px black;
    margin-top: -5vh;
}
ul{
    height: 60px;
}
li{
    color: aliceblue;
    padding: 1rem;
}
#check{
	display: none;
}

@media screen and (max-width:680px) {
	nav{
		justify-content: space-between;
		flex-direction: row-reverse;
		overflow: visible;
		margin: 0px;
		padding: 10px;
		align-items: center;
		position: relative;
		width: inherit;
		
	}
	  
    nav ul{
		
		position: fixed;
		flex-direction: column;
		width: 100%;
		-webkit-transition: all .3s;
		transition: all .3s;
		top: 80px;
		margin-top: -1000px;
		margin-bottom: 50px;
		margin-left: -30px;
		opacity: 0;
        background: rgb(41, 33, 33); 
	}
	  #check:checked ~ ul{
		transition: all .3s;
		-webkit-transition: all .3s;
		display: flex;
		height: auto;
		opacity: 1;
		position: absolute;
		z-index: 5555;
		margin-top: -20px;
		margin-right: -10px;
		margin-left: 0;
		width: 100vw;
		overflow: hidden;
	  }
	  .menu-icon {
		cursor: pointer;
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
	  }
	  
	  .bar {
		background-color: #8a7a4f;
		height: 3px;
		width: 100%;
		position: absolute;
        border-radius: 7px;
		transition: transform 0.3s ease, opacity 0.3s ease;
	  }
	  
	  .bar:nth-child(2) {
		top: 12px;
	  }
	  
	  .bar:nth-child(3) {
		top: 24px;
	  }
	  
	  #check:checked + .menu-icon .bar:nth-child(1) {
		transform: rotate(-45deg);
		top: 15px;
	  }
	  
	  #check:checked + .menu-icon .bar:nth-child(2) {
		opacity: 0;
	  }
	  
	  #check:checked + .menu-icon .bar:nth-child(3) {
		transform: rotate(45deg);
		top: 15px;
	  }
}