<nav class="row" [ngClass]="{'scrolled': isScrolled}">
    <div class="logo-content row-always">
        <img id="d20" src="../../../assets/images/d20y.png" alt="Logo" class="logo">
        <img id="logo" src="../../../assets/images/logoy.png" alt="">
    </div>

    <input type="checkbox" id="check">
    <label for="check" class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </label>

    <ul class="row">
        <li class="link link-menu" [class.active]="isActive('/home')" routerLink="/home">Home</li>
        <li class="link link-menu" [class.active]="isActive('/classes')" routerLink="/classes">Classes</li>
        <li class="link link-menu" [class.active]="isActive('/races')" routerLink="/races">Raças</li>
        <li class="link link-menu" [class.active]="isActive('/magias')" routerLink="/magias">Magias</li>
        <li class="link link-menu" [class.active]="isActive('/equipamentos-categorias')" routerLink="/equipamentos-categorias">Equipamentos</li>
    

        <!-- Exibe "Entre" apenas se o usuário NÃO estiver autenticado -->
        <li class="link button" *ngIf="!isAuthenticated" [class.active]="isActive('/login')" routerLink="/login">Entre</li>
        <li class="link button-border" *ngIf="!isAuthenticated" [class.active]="isActive('/register')" routerLink="/register">Registrar</li>

        <!-- Exibe o Saguão apenas se o usuário ESTIVER autenticado -->
        <li class="link link-menu" *ngIf="isAuthenticated" [class.active]="isActive('/saguao-do-aventureiro')" routerLink="/saguao-do-aventureiro">
            Saguão
        </li>

        <!-- Substitui o nome do usuário por um ícone de perfil -->
        <li *ngIf="isAuthenticated" class="link profile-icon" [class.active]="isActive('/perfil')" routerLink="/perfil">
            <i class="fa fa-user-circle"></i>
        </li>
    </ul>
</nav>