<nav class="row">
    <input type="checkbox" id="check">
    <label for="check" class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </label>
    <ul class="row">
        <li class="link" routerLink="/home">Home</li>
        <li class="link" routerLink="/classes">Classes</li>
        <li class="link" routerLink="/races">Raças</li>
        <li class="link" routerLink="/magias">Magias</li>
        <li class="link" routerLink="/equipamentos-categorias">Equipamentos</li>
        <li class="link" routerLink="/rules">Regras</li>

        <!-- Exibe "Entre" apenas se o usuário NÃO estiver autenticado -->
        <li class="link" *ngIf="!isAuthenticated" routerLink="/login">Entre</li>

        <!-- Exibe o Saguão apenas se o usuário ESTIVER autenticado -->
        <li class="link" *ngIf="isAuthenticated" routerLink="/saguao-do-aventureiro">
            Saguão do Aventureiro
        </li>

        <!-- Exibe o nome do usuário e botão de logout -->
        <li *ngIf="isAuthenticated" class="link" routerLink="/perfil">
            <span>Bem-vindo, {{ userName }}!</span>
            
        </li>
    </ul>
</nav>