.races-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    /* 4 colunas de 100px cada */
    grid-gap: 20px;
    /* Espaço de 20px entre os itens */
    height: 50vh;
  }
  
  .item {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .item:hover {
    box-shadow: var(--glow-box-shadow);
  }
  @media screen and (max-width: 1200px) {
    .races-container {
        grid-template-columns: repeat(4, 100px);
    }
}
@media screen and (max-width: 640px) {
    .races-container {
        grid-template-columns: repeat(3, 100px);
    }
}
@media screen and (max-width: 480px) {
    .races-container {
        grid-template-columns: repeat(2, 100px);
    }
}