
section{
    min-height: 95vh;
}
.classes-container {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 20px;
    height: 50vh;
}
.magia-item {
    width: 100px;
    height: 100px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;

}
.item:hover{
    box-shadow: var(--glow-box-shadow)
}