<app-menu></app-menu>

<section class="column" *ngIf="personagem">
    <main class="column">
        <div class="row basic">
            <div class="name column">
                <h1>{{personagem.name}}</h1>
                <h3>Nome do Personagem</h3>
            </div>
            <div class="infobase row">
                <div class="column info-01">
                    <h4>{{personagem.charClass}} {{personagem.level}}</h4>
                    <h3>Classe e Nível</h3>
                    <h4>{{personagem.race}}</h4>
                    <h3>Raça</h3>
                </div>
                <div class="column info-02">
                    <h4>antecedente aqui</h4>
                    <h3>Antecedente</h3>
                    <h4>{{personagem.alignment}}</h4>
                    <h3>Alinhamento</h3>
                </div>
                <div class="column info-03">
                    <h4>{{personagem.playerName}}</h4>
                    <h3>Nome do jogador</h3>
                    <div class="row xp-level">
                        <div class="column xp">
                            <h4>{{personagem.experiencePoints}}</h4>
                            <h3>Experiencia</h3>
                        </div>
                        <div class="column lvl">
                            <h4>{{personagem.nextLevel}}</h4>
                            <h3>Próximo Nível</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sheet">
            <div class="left-sheet column">
                <div class="row">
                    <div class="column pt-1">
                        <div class="atribute column">
                            <h3>Força</h3>
                            <h2>+{{personagem.strengthModifier}}</h2>
                            <h5>{{personagem.strength}}</h5>
                        </div>
                        <div class="atribute column">
                            <h3>Destreza</h3>
                            <h2>+{{personagem.dexterityModifier}}</h2>
                            <h5>{{personagem.dexterity}}</h5>
                        </div>
                        <div class="atribute column">
                            <h3>Constituição</h3>
                            <h2>+{{personagem.constitutionModifier}}</h2>
                            <h5>{{personagem.constitution}}</h5>
                        </div>
                        <div class="atribute column">
                            <h3>Inteligência</h3>
                            <h2>+{{personagem.intelligenceModifier}}</h2>
                            <h5>{{personagem.intelligence}}</h5>
                        </div>
                        <div class="atribute column">
                            <h3>Sabedoria</h3>
                            <h2>+{{personagem.wisdomModifier}}</h2>
                            <h5>{{personagem.wisdom}}</h5>
                        </div>
                        <div class="atribute column">
                            <h3>Carisma</h3>
                            <h2>+{{personagem.charismaModifier}}</h2>
                            <h5>{{personagem.charisma}}</h5>
                        </div>
                    </div>
                    <div class="column pt-2">
                        <div class="row-always">
                            <h2>+4</h2>
                            <h3>Bônus de proficiência</h3>
                        </div>
                        <div class="column resistence-test">
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Força</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Destreza</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Constituição</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Inteligência</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Sabedoria</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Carisma</h5>
                            </div>
                            <h3>Testes de Resistência</h3>
                        </div>
                        <div class="column pericia-test">
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Acrobacia</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Arcanismo</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Atletismo</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Enganação</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Furtividade</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>História</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Intuição</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Intimidação</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Investigação</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Lidar com Animais</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Medicina</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Natureza</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Percepção</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Performance</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Persuasão</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Prestidigitação</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Religião</h5>
                            </div>
                            <div class="row-always">
                                <h5>4</h5>
                                <h5>Sobrevivência</h5>
                            </div>
                            <h3>Perícias</h3>
                        </div>
                    </div>
                </div>
                <div class="row-always">
                    <h2>+4</h2>
                    <h3>SABEDORIA PASSIVA (PERCEPÇÃO)</h3>
                </div>
                <div class="idiomas column">
                    <p></p>
                    <h3>IDIOMAS E OUTRAS PROFICIÊNCIAS</h3>
                </div>
            </div>
            <div class="column pt-3">
                <div class="pt-ca column">
                    <div class="row-always">
                        <div class="column ca">
                            <h1>14</h1>
                            <h5>Classe de Armadura</h5>
                        </div>
                        <div class="column ca">
                            <h1>0?</h1>
                            <h5>Iniciativa</h5>
                        </div>
                        <div class="column ca">
                            <h1>0?</h1>
                            <h5>Deslocamento</h5>
                        </div>
                    </div>
                    <div class="row-always">
                        <div class="column">
                            <div class="pv-max column">
                                <h2>90</h2>
                                <h5>Pontos de Vida Máximos</h5>
                            </div>
                            <div class="pv-temp column">
                                <h2>90</h2>
                                <h5>Pontos de Vida Temporáreos</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row-always">
                        <div class="column">
                            <h1>14</h1>
                            <h5>PV</h5>
                        </div>
                        <div class="column">
                            <div class="row-always">
                                <h5>Sucessos</h5>
                                <input type="checkbox" name="" id="">
                                <input type="checkbox" name="" id="">
                                <input type="checkbox" name="" id="">
                            </div>
                            <div class="row-always">
                                <h5>Fracassos</h5>
                                <input type="checkbox" name="" id="" >
                                <input type="checkbox" name="" id="">
                                <input type="checkbox" name="" id="">
                            </div>
                            <h5>Testes Contra a Morte</h5>
                        </div>
                    </div>
                </div>
                <div class="ataq-magic">
                    <p></p>
                    <h3>Ataques e Magias</h3>
                </div>
                <div class="equipment column">
                    <div class="row-always">
                        <div class="p-left column">
                            <div class="row-always">
                                <h6>PC</h6>
                                <p></p>
                            </div>
                            <div class="row-always">
                                <h6>PP</h6>
                                <p></p>
                            </div>
                            <div class="row-always">
                                <h6>PE</h6>
                                <p></p>
                            </div>
                            <div class="row-always">
                                <h6>PO</h6>
                                <p></p>
                            </div>
                            <div class="row-always">
                                <h6>PL</h6>
                                <p></p>
                            </div>
                        </div>
                        <div class="p-right column">
                            <p></p>
                        </div>
                        <h3>Equipamento</h3>
                    </div>
                    
                </div>
            </div>
            <div class="column pt-4">
                <div class="feature column">
                    <div class="personality column">
                        <p></p>
                        <h5>Traços de Personalidade</h5>
                    </div>
                    <div class="ideals column">
                        <p></p>
                        <h5>Ideais</h5>
                    </div>
                    <div class="bound column">
                        <p></p>
                        <h5>Ligações</h5>
                    </div>
                    <div class="defects column">
                        <p></p>
                        <h5>Defeitos</h5>
                    </div>
                </div>
                <div class="features-skills column">
                    <p></p>
                    <h5>Características e Habilidades</h5>
                </div>
            </div>
        </div>
    </main>
</section>
<app-footer></app-footer>