<app-header></app-header>
<section>
<div class="login-container column">
  <div class="card-login column">
    <span>Bem-vindo, aventureiro!</span>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="card-inside">
      <input type="email" formControlName="email" placeholder="Digite seu e-mail" >
      <input type="password" formControlName="password" placeholder="Digite sua senha">
      <button type="submit">Entrar</button>
    </form>
    <a routerLink="/register">Ainda não tem uma conta? Crie aqui!</a>
  </div>
</div>
</section>
<app-footer></app-footer>