.register-container{
    background-image: url(../../../assets/images/background-login.jpg);
    background-size: cover;
    width: 100%;
    background-color: rgb(48, 48, 48);
    height: 99vh;
    background-position: 30%;
}

.card-form{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 370px;
    background-color: rgba(32, 32, 32, 0.5);
    padding: 50px 30px;
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.322);
}
.card-form:hover{
    box-shadow: 3px 3px 15px 5px rgba(252, 232, 121, 0.322);
}
.card-inside{
    display: flex;
    flex-direction: column;
    width: 80%;
}

p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(221, 200, 105);
    margin-bottom: 2rem;
}

input{
    width: 280px;
    padding: 1rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    border: 0 !important;
    background-color: rgb(255, 255, 255, 0.7);
    height: 52px;
}
input:hover{
    background-color: rgba(255, 255, 255, 0.884);
}
textarea:focus, input:focus, button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

button{
    border-radius: 5px;
    font-size: 17px;
    height: 52px;
    width: 280px;
}
.card-inside span{

    color: rgb(221, 200, 105);
}
@media screen and (max-width:680px){
    .register-container{
        background-position: 74%
    }
    .card-form{
        width: 85vw;
    }
}