<app-header></app-header>

<section>
    <div class="home-container">
        <div class="container">
            <div class="header">
                🗡️
                <h1>Nota Importante sobre o Conteúdo do Site</h1>
            </div>
            <div class="content">
                <p><strong>"Entre pergaminhos antigos e histórias mágicas, as palavras aqui gravadas são a ponte entre fãs e os reinos de fantasia."</strong></p>
                <p>
                    Seja bem-vindo ao <strong>Cavernas e Dragões</strong>, um portal dedicado à paixão por Dungeons & Dragons!
                    Nosso conteúdo segue rigorosamente as diretrizes da <strong><a href="https://company.wizards.com/pt-BR/legal/fancontentpolicy" target="_blank">Política de Conteúdo de Fãs da Wizards of the Coast</a></strong> e utiliza como base as traduções autorizadas do <strong>Documento de Referência do Sistema (DRS)</strong>.
                </p>
                <p><strong>🌟 Fontes Oficiais e Credenciadas:</strong></p>
                <ul>
                    <li><a href="https://aventureirosdosreinos.com/documento-de-referencia-de-sistema-drs/" target="_blank">Aventureiros dos Reinos</a> – Tradutores oficiais e responsáveis por tornar o SRD acessível em português.</li>
                    <li><a href="https://www.dmsguild.com/product/263944/Documento-de-Referencia-do-Sistema--Versao-Final" target="_blank">Dungeon Masters Guild</a> – A versão final oficial do SRD em português.</li>
                </ul>
                <p><strong>📜 O que isso significa?</strong></p>
                <ul>
                    <li>Nosso site é <strong>feito por fãs e para fãs - gato</strong>. Ele <strong>não é oficial</strong>, ou seja, <strong>não somos aprovados ou apoiados pela Wizards of the Coast</strong>.</li>
                    <li>Seguimos à risca as permissões da Wizards, garantindo que você tenha acesso gratuito e fiel às regras originais.</li>
                    <li><strong>Direitos Autorais:</strong> Porções do material utilizado são propriedade da Wizards of the Coast. © Wizards of the Coast LLC.</li>
                </ul>
            </div>
            <div class="divider">🗡️ 🐉 🌌</div>
        </div>
    </div>
</section>

<app-footer></app-footer>