<app-header></app-header>

    <div class="home-container">
        <div class="parallax-container">
            <div class="light-point light-1"></div>
            <div class="light-point light-2"></div>
            <div class="light-point light-3"></div>
            <div class="light-point light-4"></div>
            <div class="light-point light-5"></div>
            <div class="light-point light-6"></div>
            <div class="light-point light-7"></div>
            <div class="light-point light-8"></div>

            <div class="parchment">
                <h1>Bem-vindo ao Cavernas e Dragões</h1>
                <p>O grimório definitivo para mestres e aventureiros. Gerencie suas fichas de personagem, descubra novas magias, equipamentos e explore as infinitas possibilidades do mundo de RPG.</p>
            </div>
        </div>
    </div>

<app-footer></app-footer>