.magics-container {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 20px;
    
}
.item {
    width: 100px;
    height: 100px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;

}
.item:hover{
    box-shadow: var(--glow-box-shadow)
}
section{
    min-height: 95vh;
    padding: 10vh 10vw;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    text-align: center;
  }
  
  button img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }