<app-header></app-header>
<section>
    <form>
        <div class="filter-group">
            <label for="level">Nível:</label>
            <div *ngFor="let level of levels" class="filter-item">
              <i class="fa fa-star" 
                 [ngClass]="{ 'selected': filters.level.includes(level) }" 
                 (click)="toggleFilter('level', level)"></i>
              <label>{{ level }}</label>
            </div>
          </div>

        <div class="filter-group">
            <label for="school">Escola:</label>
    <div *ngFor="let school of schools" class="filter-item">
      <i class="fa fa-bookmark" 
         [ngClass]="{ 'selected': filters.school === school }" 
         (click)="toggleFilter('school', school)"></i>
         <label>{{ school }}</label>
    </div>
        </div>

        <div class="filter-group">
            <label for="class">Classe:</label>
            <div *ngFor="let class of classes" class="filter-item">
              <i class="fa fa-user" 
                 [ngClass]="{ 'selected': filters.class === class }" 
                 (click)="toggleFilter('class', class)"></i>
                 <label>{{ class }}</label>
            </div>
        </div>
    </form>

    <div *ngIf="loading">Carregando...</div>
    <div *ngIf="error">{{ error }}</div>

    <div *ngIf="!loading && !error">
        <div class="magics-container" *ngIf="magias.results.length > 0; else noResults">
            <div *ngFor="let magia of magias.results" class="item" (click)="goToDetail(magia.index)">
                <h3>{{ magia.name }}</h3>
            </div>
        </div>
        <ng-template #noResults>
            <p>Nenhuma magia encontrada com os filtros aplicados.</p>
        </ng-template>
    </div>
</section>
<app-footer></app-footer>