*{
    list-style: none;
    outline: 0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    transition: .5s;
    font-family: Trebuchet MS, serif;
}
:root{
    --form-background-color: rgba(37, 27, 27, 0.5);
    --form-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.322);
    --glow-box-shadow: 0px 0px 5px rgba(247, 252, 0, 0.596);
    --glow-text-shadow: 0px 0px 10px  rgb(255, 0, 0);
}
section{
    margin-top: 5vh;
    min-height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(58, 29, 24, 0.74); 
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.row-always{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.link{
    cursor: pointer;
    
}
.link:hover{
    text-shadow: var(--glow-text-shadow);
}
.mobile{
    display: none !important;
}
button{
    border: none;
}
button:hover{
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer;
}
button:active{
    transform: translateY(4px);
}

@media screen and (max-width:680px){
	.row{
        flex-direction: column;
    }
    .web{
        display: none !important;
    }
    .mobile{
        display: flex !important;
    }
    h1, h2, p{
        width: 80vw;
        text-align: center;
    }
    
}