<nav class="row">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn"><i class="fa fa-bars" aria-hidden="true" id="rotate"></i></label>
    <img id="logo" routerLink="/home" src="../../../assets/images/logolowqualityblack.jpg" alt="">
    <ul class="web">
        <li routerLink="/home">Home</li> 
        <li routerLink="/characters">Personagens</li> 
    </ul>
    

    <div class="container-button" *ngIf="logged; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <ul>    
            <li routerLink="/">olá, {{getName}}!</li>
            <li routerLink="/characters">Ver personagens</li>
            <li (click)="logOut()">Sair</li>
        </ul>    
    </ng-template>
    <ng-template #elseBlock>
        <ul>
            <li class="mobile" routerLink="/home">Home</li>
            <li class="mobile" routerLink="/characters">Personagens</li>
            <li routerLink="/login">Login</li>
            <li routerLink="/register">Cadastrar</li>
        </ul>
    </ng-template>
    
</nav>